/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem; /*56px*/

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 152;
  --first-color: hsl(var(--hue), 24%, 32%);
  --first-color-alt: hsl(var(--hue), 24%, 28%);
  --first-color-light: hsl(var(--hue), 24%, 66%);
  --first-color-lighten: hsl(var(--hue), 24%, 92%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 55%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

body{
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s; /*For animation dark mode*/
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}


/*========== Variables Dark theme ==========*/
body.dark-theme{
  --first-color-dark: hsl(var(--hue), 8%, 20%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 75%);
  --body-color: hsl(var(--hue), 8%, 12%);
  --container-color: hsl(var(--hue), 8%, 16%);
}

/*========== Button Dark/Light ==========*/
.change-theme{
  color: var(--title-color);
  font-size: 1.15rem;
  cursor: pointer;
}

.nav__btns{
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}

/*========== 
Color changes in some parts of 
the website, in dark theme 
==========*/

.dark-theme .steps__bg,
.dark-theme .questions{
  background-color: var(--first-color-dark);
}

.dark-theme .product__circle,
.dark-theme .footer__subscribe{
  background-color: var(--container-color);
}

.dark-theme .scroll-header{
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 4%, .3);
}


/*=============== NAV ===============*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close{
  color: var(--title-color);
}

.nav__logo{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  transition: .3s;
      font-size: 20px;
}

.nav__logo-icon{
  font-size: 1.15rem;
  color: var(--first-color);
}

.nav__logo:hover{
  color: royalblue;
}

.nav__toggle{
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

/* For medium devices */


@media screen and (min-width: 767px){
  body{
    margin: 0;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;
  }
  .nav__toggle,
  .nav__close{
    display: none;
  }
  .nav__list{
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__menu{
    margin-left: auto;
  }
}

    /* ----------------------  Hader button -------------------- */

 .about {
        padding: 5rem 0;
    }   

    .container {
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;
    }
    .text-black {
          color: royalblue;
          ;
    }    
    .about-heading::after {
        content: '';
        display: block;
        border: 3px solid royalblue;
        width: 100%;
    }
    
    /* ------------ signup--------------- */
  
  .form-container {
      width: 350px;
      margin: 0 auto;
      border-radius: 0.75rem;
      
      padding: 0rem;
      color: rgba(243, 244, 246, 1);
  }
  
  .logIn-title {
      text-align: center;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 700;
  }
  
  .form {
      margin-top: 1.5rem;
  }
  
  .input-group {
      margin-top: 0.25rem;
      font-size: 0.875rem;
      line-height: 1.5rem;
  }
  
  .input-group label {
      display: block;
      color: rgba(156, 163, 175, 1);
      margin-bottom: 4px;
  }
  
  .input-group input {
      width: 90%;
      border-radius: 0.375rem;
      border: 1px solid rgba(55, 65, 81, 1);
      outline: 0;
      background-color: rgba(17, 24, 39, 1);
      padding: 0.5rem 1rem;
      /* Adjust padding values here */
      color: rgba(243, 244, 246, 1);
  }
  
  
  .input-group input:focus {
      border-color: rgba(167, 139, 250);
  }
  
  .forgot {
      display: flex;
      justify-content: flex-end;
      font-size: 0.75rem;
      line-height: 1rem;
      color: rgba(156, 163, 175, 1);
      margin: 8px 0 14px 0;
  }
  
  .forgot a,
  .signup a {
      color: rgba(243, 244, 246, 1);
      text-decoration: none;
      font-size: 14px;
  }
  
  .forgot a:hover,
  .signup a:hover {
      text-decoration: underline royalblue;
  }
  
  .sign {
      display: block;
      width: 100%;
      background-color: rgba(167, 139, 250, 1);
      padding: 0.75rem;
      text-align: center;
      color: rgba(17, 24, 39, 1);
      border: none;
      border-radius: 0.375rem;
      font-weight: 600;
      cursor: pointer;
  }
  
  .sign:active {
      opacity: 0.7;
  }
  
  .social-message {
      display: flex;
      align-items: center;
      padding-top: 1rem;
  }
  
  .line {
      height: 1px;
      flex: 1 1 0%;
      background-color: rgba(55, 65, 81, 1);
  }
  
  .social-message .message {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: rgba(156, 163, 175, 1);
  }
  
  .social-icons {
      display: flex;
      justify-content: center;
  }
  
  .social-icons .icon {
      border-radius: 0.125rem;
      padding: 0.75rem;
      border: none;
      background-color: transparent;
      margin-left: 8px;
  }
  
  .social-icons .icon svg {
      height: 1.25rem;
      width: 1.25rem;
      fill: #fff;
  }
  
  .signup {
      text-align: center;
      font-size: 0.75rem;
      line-height: 1rem;
      color: rgba(156, 163, 175, 1);
  }
  
  
  .form {
      display: flex;
      flex-direction: column;
      gap: 1px;
      max-width: 350px;
      background-color: #fff;
      padding: 20px;
      border-radius: 20px;
      position: relative;
  }
  
  .register-title {
      font-size: 28px;
      color: royalblue;
      font-weight: 600;
      letter-spacing: -1px;
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 30px;
  }
  
  .register-title::before,
  .register-title::after {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      border-radius: 50%;
      left: 0px;
      background-color: royalblue;
  }
  
  .register-title::before {
      width: 18px;
      height: 18px;
  
  }
  
  .register-title::after {
      width: 18px;
      height: 18px;
      animation: pulse 1s linear infinite;
  }
  
  .message,
  .signin {
      color: rgba(88, 87, 87, 0.822);
      font-size: 14px;
  }
  
  .signin {
      text-align: center;
  }
  
  .signin a {
      color: royalblue;
  }
  
  .signin a:hover {
      text-decoration: underline royalblue;
  }
  
  .flex {
      display: flex;
      width: 100%;
      gap: 6px;
  }
  
  .form label {
      position: relative;
  }
  
  .form label .input {
      width: 90%;
      padding: 10px 10px 20px 10px;
      outline: 0;
      border: 1px solid rgba(105, 105, 105, 0.397);
      border-radius: 5px;
  }
  
  .name-input {
      width: 145% !important
  }
  
  .form label .input+span {
      position: absolute;
      left: 10px;
      top: 15px;
      color: grey;
      font-size: 0.9em;
      cursor: text;
      transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown+span {
      top: 15px;
      font-size: 0.9em;
  }
  
  .form label .input:focus+span,
  .form label .input:valid+span {
      top: 30px;
      font-size: 0.7em;
      font-weight: 600;
  }
  
  .form label .input:valid+span {
      color: green;
  }
  
  .submit {
      border: none;
      outline: none;
     background-color:  royalblue;
      padding: 10px;
      border-radius: 10px;
      color: #fff;
      font-size: 16px;
      transform: .3s ease;
      cursor: pointer;
  }
  
  .submit:hover {
      
      opacity: 0.7;
  }
  
  @keyframes pulse {
      from {
          transform: scale(0.9);
          opacity: 1;
      }
  
      to {
          transform: scale(1.8);
          opacity: 0;
      }
  }